<div class="p-5">
  <h1 class="text-3xl font-bold">Tiempo juntos</h1>
  <p class="text-xl font-bold">Desde que te conocí han pasado:</p>
  @if(years){
  <p class="text-xl font-bold">{{ years }} años</p>

  }@else {
  <p class="text-xl font-bold">0 años</p>

  } @if(months){
  <p class="text-xl font-bold">{{ months }} meses</p>

  }@else {
  <p class="text-xl font-bold">0 meses</p>

  } @if(years){
  <p class="text-xl font-bold">{{ weeks }} semanas</p>
  }@else {
  <p class="text-xl font-bold">0 semanas</p>

  } @if(years){
  <p class="text-xl font-bold">{{ days }} días</p>
  }@else {
  <p class="text-xl font-bold">0 días</p>

  } @if(years){
  <p class="text-xl font-bold">{{ hours }} horas</p>

  }@else {
  <p class="text-xl font-bold">0 horas</p>

  } @if(years){
  <p class="text-xl font-bold">{{ minutes }} minutos</p>

  }@else {
  <p class="text-xl font-bold">0 minutos</p>

  } @if(seconds){
  <p class="text-xl font-bold">{{ seconds }} segundos</p>

  }@else {
  <p class="text-xl font-bold">0 segundos</p>

  }
  <div class="text-center mt-5">
    <p class="text-lg font-semibold">
      Adriana,mi amor, cada segundo que pasa te amo más y más, parece tan poco
      tiempo desde que te vi por primera vez, pero desde ese día no puedo dejar
      de pensar en ti, seguiré cuidandote cada instante de nuestra vida.
    </p>
  </div>
  <div class="text-center mt-5">
    <p class="text-xs font-thin">by Jhoger Olmos</p>
  </div>
</div>
